{
  "presets": [ "latest", "es2015-loose", "react", "es2015", "stage-2"],
  "plugins": [["transform-class-properties"], "transform-object-rest-spread", "transform-decorators", "transform-export-extensions"]  
}